@tailwind base;
@tailwind components;
@tailwind utilities;

	body, html {
  overflow-x: hidden;
}
	/* .scrollable {
		color: black
	}
	.scrollable::-webkit-scrollbar-thumb {
		background: red
	} */
	@supports (scrollbar-color: auto) {
		.scrollable {
			scrollbar-color: lightgray transparent;
			scrollbar-width: thin;
		}
	}

	/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
	@supports selector(::-webkit-scrollbar) {
		.scrollable::-webkit-scrollbar {
			background: transparent;
		}
		.scrollable::-webkit-scrollbar-thumb {
			background: lightgray;
			width: 4px;
		}
	}
	@keyframes fade-in {
    from { opacity: 0; }
  }
  
  @keyframes fade-out {
    to { opacity: 0; }
  }
  
  @keyframes slide-from-right {
    from { transform: translateX(60px); }
  }
  
  @keyframes slide-to-left {
    to { transform: translateX(-60px); }
  }
	dialog::backdrop {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
	}

	@keyframes blink {
		0% { opacity: 1; }
		50% { opacity: 0; }
		100% { opacity: 1; }
	}

	.dragging > :first-child {
		/* border: 2px solid #1d4ed8 !important;  */
		background-color: #fffee3 ;
		border-radius: 10px;
	}

	.pattern {
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	}

	/* .page {
		view-transition-name: pages;
	} */
  
  /* ::view-transition-old(pages) {
    animation: 240ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  
  ::view-transition-new(pages) {
    animation: 360ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }


	::view-transition-old(my-backdrop) {
		animation: fade-out 200ms;
	}
	::view-transition-new(my-backdrop) {
		animation: fade-in 200ms;
	}

	dialog {
		view-transition-name: dialogTransition;
	}
	::view-transition-new(dialogTransition) {
		animation: 200ms fade-in;
	}
	::view-transition-old(dialogTransition) {
		animation: 200ms fade-out
	}  */

